body {
  font-family: sans-serif;
  margin: 100px auto;
  max-width: 1280px;
  
  background: #EEEEEE;
}

form, div.form {
  margin: auto calc(50% - 141px);
  border: 1px solid gray;
  padding: 15px;
  width: 250px;
  
  border-radius: 5%;
  
  background: #DDDDDD;
  
  font-size: 14px;
  
  box-shadow: 3px 3px 10px gray;
}

